# PyEarth: A Python Introduction to Earth Science

<!-- [![Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/AI4EPS/EPS88_PyEarth/blob/main/docs/exercises/00_introduction_python101.ipynb) -->

## NumPy and Pandas Exercises

In [1]:
import numpy as np
import pandas as pd

### NumPy Exercises

- Create a 1D array of numbers from 0 to 9

- Create a 3x3 matrix with values ranging from 0 to 8

- Generate a random number between 0 and 1 (hint: import np.random)

- Extract all odd numbers from the following array:

In [2]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

- Replace all odd numbers in the following array with -1:

In [3]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

- Stack two arrays vertically and horizontally:

In [4]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

### Pandas Exercises

- Create a DataFrame with 3 columns (A, B, C) and 3 rows of random numbers

- Set the index of the DataFrame to be ['X', 'Y', 'Z']

- Add a new column 'D' which is the sum of columns A and B

- Drop column 'C' from the DataFrame

- Create a DataFrame from the following dictionary of lists:

In [5]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'name': ['Muffy', 'Nyarko', 'Sasha', 'Aura', 'Sunny', 'Zoro', 'Sassy', 'Penny', 'Kody', 'Cooper'],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

- From the DataFrame above, select all rows where the animal is a cat and the age is less than 3

- From the DataFrame above, calculate the mean age for each animal type

-  For the DataFrame above, sort the DataFrame first by the values in the 'age' column in descending order, then by the value in the 'visits' column in ascending order

- For the DataFrame above, replace any NaN values in the 'age' column with the median age